body,html {
	height: 100%;
	width:100%;
	margin: 0px;
	padding: 0px;
}

#Karte {
	margin: 0px;
	padding: 0px;
}

#map1 {
	height: 80%;
	width: 100%;
	border: 2px grey solid;
}

#elevation-div {
	display: none;
	height: 370px;
	margin: 0px;
	padding: 0px;
}

#chart-div {
	background-color: lightgrey;
	margin: 0px;
	padding: 0px;
	box-shadow: 0px 0px 0px 2px grey inset;
}

#close-div {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -200px;
	right: -98%;
	width: 0px;
}

#close-x {
	cursor: pointer;
	opacity: 0.4;
	padding: 0px;
    margin: 0px;
}

li:hover {background-color: white;}

#Impressum {
	color: grey;width: 80%;margin-left: auto;margin-right: auto;font-size: 10px;}


/*** PhoneGap Patches ***/

a[data-role="button"] {
    text-decoration:none;
}




/*** FOR THE MAP PAGE ***/

/* lie about the width & height just so the map can initialize, resizeMapIfVisible() fixes this later */
#page-map div[data-role="content"] {
    padding:0;
}
#map_canvas {
    height:300px;
    width:100%;
}